body{
	background-color:#2b5caf;
}
#profile{
	background-color:white;
	border: 15px solid darkblue;
	padding: 20px;
	margin:0px;
	overflow-x:hidden;
}
img{

	border-radius: 8px;
	border: 3px solid black;
}
#name {
	position: relative;
	font-size: 30px;
}
#info{
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	width: 300px;
	background-color:#e3ebf9;
	padding: 15px;
	border: 5px solid darkblue;
	margin: auto;
	text-align: center;
}
h1{
	color:white;
	text-align:center;
}
#Signup{
	color:white;
	text-align:center;
}
#banner{
	position:relative;
	top:-255px;
	font-size:30px;
	text-align:center;
	font-weight:bold;
}
#banner2{
	position:relative;
	top:-50px;
	font-size:30px;
	text-align:center;
	font-weight:bold;
}
