body{
	background-color:#ddeaff;
}
img{

	border-radius: 8px;
}
#name {
	position: relative;
	font-size: 30px;
	top:-60px;
	left:205px;
}
#info{
	text-align: center;
}
h1{
	text-align:center;
}
#Signup{
	text-align:center;
}

